* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /*@media(min-width:768px) {
      max-width: 700px;
  }*/
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 984px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 280px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  /*&::before {
      content: "";
      width: 1170px;
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      border: 1px solid #BABBC5;

      @media(min-width:768px) and (max-width:1024px) {
          width: 984px;
      }
  }*/
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__container {
    border: none;
  }
}
.header__logo {
  max-width: 184px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 103px;
  }
}
.header__logo-link {
  width: 100%;
}
.header__logo-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.header__nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  padding: 42px 39px;
  text-align: center;
  display: inline-block;
  border-bottom: 3px solid transparent;
  /*@media(min-width:768px) {
      font-size: 10px;
      line-height: 12px;
      padding: 44px 19px;
  }*/
}
.header__nav-link:hover {
  border-bottom: 3px solid #BABBC5;
}
.header__nav-link:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__nav-link {
    font-size: 12px;
    line-height: 14px;
    padding: 42.5px 19px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__nav-link {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__burger {
    display: inline-block;
    background: none;
    border: none;
    padding: 19px 35px;
  }
}

.favorit {
  position: relative;
  text-align: center;
  padding: 230px 0 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/favorit_bg.jpg);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit {
    padding: 257px 0 126px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit {
    padding: 106px 0 52px;
  }
}
.favorit::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #252B49;
  opacity: 0.8;
}
.favorit__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 31px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 33px;
  }
}
.favorit__text {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 89px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
}
.favorit__btn {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  background: #FF4343;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 26px;
  max-width: 370px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.favorit__btn:hover {
  background: #E71414;
}
.favorit__btn:active {
  box-shadow: 0 0 30px #FF4343;
  background: #FF4343;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit__btn {
    max-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit__btn {
    max-width: 280px;
    padding: 16px;
  }
}/*# sourceMappingURL=style.css.map */