* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  /*&::before {
      content: "";
      width: 1170px;
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      border: 1px solid #BABBC5;

      @media(min-width:768px) and (max-width:1024px) {
          width: 984px;
      }
  }*/
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__container {
    border: none;
  }
}
.header__logo {
  max-width: 184px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 103px;
  }
}
.header__logo-link {
  width: 100%;
}
.header__logo-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.header__nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  padding: 42px 39px;
  text-align: center;
  display: inline-block;
  border-bottom: 3px solid transparent;
  /*@media(min-width:768px) {
      font-size: 10px;
      line-height: 12px;
      padding: 44px 19px;
  }*/
}
.header__nav-link:hover {
  border-bottom: 3px solid #BABBC5;
}
.header__nav-link:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__nav-link {
    font-size: 12px;
    line-height: 14px;
    padding: 42.5px 19px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__nav-link {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__burger {
    display: inline-block;
    background: none;
    border: none;
    padding: 19px 35px;
  }
}

.favorit {
  position: relative;
  text-align: center;
  padding: 230px 0 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/favorit_bg.jpg);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit {
    padding: 257px 0 126px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit {
    padding: 106px 0 52px;
  }
}
.favorit::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #252B49;
  opacity: 0.8;
}
.favorit__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 31px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 33px;
  }
}
.favorit__text {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 106px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 115px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 75px;
  }
}
.favorit__btn {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  background: #FF4343;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 26px 91px;
  max-width: 370px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.favorit__btn:hover {
  background: #E71414;
}
.favorit__btn:active {
  box-shadow: 0 0 30px #FF4343;
  background: #FF4343;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favorit__btn {
    max-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .favorit__btn {
    max-width: 280px;
    padding: 16px;
  }
}

.infoblocks {
  margin: 116px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .infoblocks {
    margin: 80px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .infoblocks {
    margin: 40px 0;
  }
}
.infoblocks__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .infoblocks__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .infoblocks__container {
    grid-template-columns: 1fr;
    row-gap: 42px;
  }
}

.infoblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoblock__svg {
  margin-bottom: 55px;
  width: 100px;
  height: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .infoblock__svg {
    width: 85px;
    height: 85px;
    margin-bottom: 49px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .infoblock__svg {
    width: 75px;
    height: 75px;
    margin-bottom: 41px;
  }
}
.infoblock__title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .infoblock__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .infoblock__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.infoblock__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .infoblock__text {
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .infoblock__text {
    font-size: 14px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.gallery__link {
  text-decoration: none;
  position: relative;
  display: block;
}
.gallery__link::before {
  content: "";
  padding-top: 89.9%;
  display: block;
}
.gallery__link-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__info {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 47px;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery__info {
    row-gap: 29px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__info {
    row-gap: 14px;
  }
}
.gallery__info:hover {
  opacity: 1;
}
.gallery__info:active {
  opacity: 1;
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
}
.gallery__info-title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery__info-title {
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__info-title {
    font-size: 14px;
  }
}
.gallery__info-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery__info-text {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__info-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.staff {
  margin: 114px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .staff {
    margin: 78px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .staff {
    margin: 35px 0;
  }
}
.staff__container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .staff__container {
    flex-direction: column;
    row-gap: 56px;
  }
}

.employee__wrap-img {
  position: relative;
  display: block;
}
.employee__wrap-img::before {
  content: "";
  margin-top: 100%;
  display: block;
  position: absolute;
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__wrap-img::before {
    margin-top: 81.1%;
  }
}
.employee__img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 30px;
}
.employee__name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
  text-transform: capitalize;
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__name {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 16px;
  }
}
.employee__profession {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__profession {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__profession {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 16px;
  }
}
.employee__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 38px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 55px;
  }
}
.employee__medias {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.employee__media {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C6CBCD;
  width: 39px;
  height: 39px;
  margin-top: auto;
}

.sliders {
  margin-bottom: 114px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sliders {
    margin-bottom: 77px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sliders {
    margin-bottom: 35px;
  }
}
.sliders__wrap {
  display: flex;
  margin-bottom: 31px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sliders__wrap {
    margin-bottom: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sliders__wrap {
    flex-direction: column;
    margin-bottom: 23px;
  }
}
.sliders__img {
  max-width: 741px;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sliders__img {
    max-width: 502px;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sliders__img {
    width: 100%;
    max-width: 320px;
  }
}
.sliders__article {
  background-color: #5C3249;
}
.sliders__article-text {
  padding: 133px 125px 0 129px;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 17px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sliders__article-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 14px;
    padding: 61px 104px 0 88px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sliders__article-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 38px;
    padding: 29px 25px 0 20px;
    text-align: center;
  }
}
.sliders__article-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 0 116px 129px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sliders__article-name {
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 110px 88px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sliders__article-name {
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 95px 0px;
    text-align: center;
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .slider {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.slider__circle {
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .slider__circle {
    width: 9px;
    height: 9px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .slider__circle {
    width: 9px;
    height: 9px;
  }
}
.slider__circle--bg {
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
  background-color: #7E5D6F;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .slider__circle--bg {
    width: 9px;
    height: 9px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .slider__circle--bg {
    width: 9px;
    height: 9px;
  }
}

.download {
  margin-bottom: 114px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download {
    margin-bottom: 78px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download {
    margin-bottom: 45px;
  }
}
.download__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__start {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__start {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__start {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}
.download__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 48px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 43px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
    padding: 0 10px;
  }
}
.download__btn {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  background: #FF4343;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 26px;
  max-width: 370px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.download__btn:hover {
  background: #E71414;
}
.download__btn:active {
  box-shadow: 0 0 30px #FF4343;
  background: #FF4343;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__btn {
    font-size: 18px;
    line-height: 21px;
    max-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__btn {
    font-size: 18px;
    line-height: 20px;
    padding: 30px 16px;
    max-width: 280px;
  }
}

.footer__wrap-top {
  background-color: #353C65;
}
.footer__wrap-bottom {
  background-color: #2C3154;
  padding: 24px 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__wrap-bottom {
    padding: 14px 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__wrap-bottom {
    padding: 29px 15px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 71px 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__container {
    padding: 43px 15px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    padding: 34px 15px;
    flex-direction: column;
    row-gap: 69px;
  }
}
.footer__we {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 29px;
  width: calc((100% - 60px) / 3);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__we {
    row-gap: 17px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__we {
    row-gap: 34px;
    width: 100%;
  }
}
.footer__we-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__we-title {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__we-title {
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__we-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__we-text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__we-text {
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__medias {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
  margin-top: auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__medias {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__medias {
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
}
.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C6CBCD;
  width: 39px;
  height: 39px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__media {
    width: 33px;
    height: 33px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media {
    width: 33px;
    height: 33px;
  }
}
.footer__bottom-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__bottom-text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__bottom-text {
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__bottom-name {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__bottom-name {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__bottom-name {
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=style.css.map */